pip
pillow
django-heroku
dj-database-url                                                                                                                                                                                                                                                                                                    django-heroku==0.3.1                                                                                                                                                  
gunicorn                                                                                                                                                      
psycopg2                                                                                                                                                       
pytz                                                                                                                                                          
whitenoise==4.1.2
django==2.1.5  